.one-three-five-rule ul {
    padding-left: 42px;
    margin: 0 18px;
}

@media (max-width: 480px) {
    .one-three-five-rule ul {
        padding-left: 28px;
        margin: 0 4px;
    }
}

.one-three-five-rule li {
    position: relative;
    list-style: none;
    margin-left: 20px;
    margin: 10px 0 0 20px;
}

.one-three-five-rule li h2 {
    font-weight: 300;
    font-size: 20px;
}

.one-three-five-rule li h3 {
    font-weight: 300;
    font-size: 18px;
}

.one-three-five-rule .third-party-tasks h3 {
    font-size: 16px;
}

@media (max-width: 625px) {
    .one-three-five-rule li h2 {
        font-weight: 300;
        font-size: 16px;
    }
    
    .one-three-five-rule li h3 {
        font-weight: 300;
        font-size: 14px;
    }
    
    .one-three-five-rule .third-party-tasks h3 {
        font-size: 12px;
    }
}

.one-three-five-rule .task-content {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.one-three-five-rule .task-content-i {
    gap: 12px;
    display: flex;
    flex-wrap: nowrap;
}

.one-three-five-rule .task-content span,
.edit-progress span {
    cursor: pointer;
    margin-left: 0.5em;
}

.edit-progress {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.edit-progress input {
    margin-right: 0.5em;
}