* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888888c5;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f5f5f5;
    color: #0f0f0f;
}

.wrapper {
    width: calc(100% - 32px);
    max-width: 1024px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .wrapper {
        width: calc(100% - 60px);
        padding: 30px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        width: calc(100% - 80px);
        padding: 40px;
    }
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

blockquote {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.4em;
    font-style: italic;
    padding: 20px 40px;
    margin: 20px 0;
    border-left: 5px solid #4ba7ea;
    border-radius: 15px;
    position: relative;
}

@media (max-width: 768px) {
    blockquote {
        padding: 15px 30px;
        font-size: 1.2em;
    }
}

.loading-phrase {
    padding: 2rem 0;
    word-wrap: break-word;
}

.progress-bar {
    width: 80%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #4ba7ea;
    transition: width 0.1s;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 90vh;
}

.logo-login {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.logo-login img {
    width: 95%;
    max-width: 325px;
    transition: all ease 1s;
}

.login .password-container {
    width: 100%;
    max-width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .password-input {
    outline: 0;
    width: 100%;
    height: 3rem;
    padding: 8px;
    font-size: 18px;
    min-height: 36px;
    color: #1e2740;
    overflow: hidden;
    border-radius: 9px;
    margin-bottom: 12px;
    text-align: center;
    transition: all .25s ease;
    border: 2px solid #80696900;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 24px;
}

.login .password-input::placeholder {
    opacity: .6;
    color: #9e9e9e;
}

.login .password-input:focus {
    border-color: #0073ec;
}

.login .submit-button {
    width: 100%;
    border: none;
    cursor: pointer;
    max-width: 180px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    transition: all ease 1s;
    text-transform: uppercase;
    text-decoration: #00000000;
    color: #fff;
    font-size: 16px;
    border-radius: 12px;
    padding: 14px 28px;
    background: #0366ff;
}

.login .submit-button:hover {
    background-color: #4f31c7;
}

.submit-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.utils {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.utils button {
    min-height: 50px;
    min-width: 150px;
    width: 100%;
    max-width: 320px;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4ba7ea;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.utils button:hover,
.utils button.active {
    transform: translateY(-8px);
    background-color: #379ce4;
    box-shadow: 0 8px 16px rgba(55, 156, 228, 0.5);
}

@media (max-width: 480px) {
    .utils button {
        width: calc(100% - 30px);
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .utils button {
        width: calc(42% - 30px);
    }
}


.active-component p,
.active-component h1,
.active-component h2,
.active-component h3,
footer .settings h2 {
    font-family: 'Roboto', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 18.5px;
    line-height: 2;
    margin-bottom: 1rem;
}

@media (max-width: 625px) {

    .active-component p,
    .active-component h1,
    .active-component h2,
    .active-component h3,
    footer .settings h2 {
        line-height: 1.5;
        font-size: 16.5px;
    }
}

input[type="checkbox"] {
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    outline: none;
    transition: all 1s;
}

input[type="checkbox"]:checked {
    background-color: #0073ec;
    border-color: #0073ec;
}

input[type="checkbox"]:checked::before {
    content: '✓';
    display: block;
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Icons */

.css-icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    cursor: pointer;
}

.pin-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479c-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A6 6 0 0 1 5 6.708V2.277a3 3 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354m1.58 1.408l-.002-.001zm-.002-.001l.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007l-.054.03a5 5 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a5 5 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458a1.8 1.8 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14q.091.15.214.271a1.8 1.8 0 0 0 .37.282'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

.unpin-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048'%3E%3Cpath fill='%23000' d='M1472 1152q93 0 174 35t143 96t96 142t35 175q0 93-35 174t-96 143t-142 96t-175 35q-93 0-174-35t-143-96t-96-142t-35-175q0-93 35-174t96-143t142-96t175-35m-320 448q0 66 25 124t68 102t102 69t125 25q47 0 92-13t84-40l-443-443q-26 39-39 84t-14 92m587 176q26-39 39-84t14-92q0-66-25-124t-69-101t-102-69t-124-26q-47 0-92 13t-84 40zm251-1028q-33 33-64 60t-65 47t-73 29t-90 11q-34 0-65-6l-134 135h-182l278-278l10 3q23 7 46 12t47 6q55 0 104-26l-495-495q-26 49-26 104q0 24 5 47t13 46l3 10l-492 491q-24-10-46-19t-44-15t-45-9t-51-4q-57 0-111 16t-100 49l483 483v182l-192-193l-568 569l-136 45l45-136l569-568l-386-386l45-45q70-70 162-107t191-37q39 0 77 6t77 19l379-379q-6-31-6-65q0-49 10-88t30-74t46-65t61-65z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

.delete-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

.move-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9.47 6.53a.75.75 0 0 0 1.06 0l.72-.72v5.44H5.81l.72-.72a.75.75 0 1 0-1.06-1.06l-2 2a.75.75 0 0 0 0 1.06l2 2a.75.75 0 0 0 1.06-1.06l-.72-.72h5.44v5.44l-.72-.72a.75.75 0 1 0-1.06 1.06l2 2a.75.75 0 0 0 1.06 0l2-2a.75.75 0 1 0-1.06-1.06l-.72.72v-5.44h5.44l-.72.72a.75.75 0 1 0 1.06 1.06l2-2a.75.75 0 0 0 0-1.06l-2-2a.75.75 0 1 0-1.06 1.06l.72.72h-5.44V5.81l.72.72a.75.75 0 1 0 1.06-1.06l-2-2a.75.75 0 0 0-1.06 0l-2 2a.75.75 0 0 0 0 1.06'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

.change-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M4 18a2 2 0 1 0 4 0a2 2 0 1 0-4 0m12 0a2 2 0 1 0 4 0a2 2 0 1 0-4 0M6 12v-2a6 6 0 1 1 12 0v2'/%3E%3Cpath d='m15 9l3 3l3-3'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

.close-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

.save-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M21 7v12q0 .825-.587 1.413T19 21H5q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h12zm-2 .85L16.15 5H5v14h14zM12 18q1.25 0 2.125-.875T15 15t-.875-2.125T12 12t-2.125.875T9 15t.875 2.125T12 18m-6-8h9V6H6zM5 7.85V19V5z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}

.edit-icon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M7 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-1'/%3E%3Cpath d='M20.385 6.585a2.1 2.1 0 0 0-2.97-2.97L9 12v3h3zM16 5l3 3'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
}